.pokemon-details {
    height: 100vh;
    background-image: url(https://images.nintendolife.com/9a9f3ea24feb7/1st-pokedex.original.jpg);
    background-position: center;
    background-size: cover;
    z-index: -1;
}
